services:

  ogamma-logger:
    image: 'docker.io/ogamma/logger:latest'
    restart: always

    environment:
# By default configuration file ./data/config.json is used. Can be changed by environment variable:
      - OVL_CONFIG_FILE=./data/config.json
# Do not use default credentials production!
      - OVL_USER_ID=admin
      - OVL_USER_PASSWORD=password

    ports:
      - '4880:4880'
      - '443:443'
    hostname: ogamma-logger
    volumes:
      - 'ovl-data:/home/ogamma/logger/data'

    networks:
      - ogamma-logger

# Macchina device agent. Allows to access configuration GUI of the OVL remotely.
# https://remote.macchina.io/my-devices/signup
  macchina:
    image: 'docker.io/macchina/device-agent:v2.3.2'
    restart: always

    environment:
      # Domain is specific to your account at macchina.
      - WEBTUNNEL_DOMAIN=ecf07c79-f9d0-4110-a6c0-0f41c00285f6
      # To get Device ID, first register it at macchina
      - WEBTUNNEL_DEVICE_ID=c61b7913-4c6a-4822-bd01-25415cefe2f0
      # Arbitrary name, just for information
      - WEBTUNNEL_DEVICE_NAME=OVL-TEST-DEVICE
      # What host and port number shoudl the requests be redirected to:
      - WEBTUNNEL_HOST=ogamma-logger
      - WEBTUNNEL_HTTP_PORT=4880
      # Reflector URI for the free accounts.
      - WEBTUNNEL_REFLECTOR_URI=https://reflector.my-devices.net
      # The Passwword is no required for free accouts.
      - WEBTUNNEL_PASSWORD=
    networks:
      - ogamma-logger
networks:
  ogamma-logger: null
volumes:
  ovl-data: {}