*.zip
/docker/data*
docker/opt2/influxdb2_initialized.txt
/.vs
binaries/msodbcsql.msi
binaries/.wget-hsts
KnownIssues.md
oBox/grafana/grafana.ini
CreateConfigDb/.vs/CreateConfigDb/v17/.suo
/binaries/VC_redist.x64.exe
/binaries/wget.exe
docker/.influxdb2.x.yml.swp
docker/custom-connectors/
