################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/opcua-logger-0.3.0.zip
/opcua-logger-0.3.1.zip
/opcua-logger-0.3.2.zip
/ogamma-logger-0.4.1.zip
*.zip
/docker/data
docker/opt2/influxdb2_initialized.txt
/.vs
binaries/msodbcsql.msi
binaries/.wget-hsts
KnownIssues.md
