################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/opcua-logger-0.3.0.zip
