# docker-compose.yml
# Provides two services:
#   1. ogamma Visual Logger for OPC
#   2. High Availability (HA) Node Manager

services:

  # ---------------------------------------------------------------------------
  # ogamma Visual Logger for OPC
  # ---------------------------------------------------------------------------
  ogamma-logger:
    image: "docker.io/ogamma/logger:4.2.1"
    restart: always

    environment:
      # The default configuration file is ./data/config.json.
      # You may override it by specifying:
      - OVL_CONFIG_FILE=/home/ogamma/logger/data/config.json

      # WARNING: change default credentials in production!
      - OVL_USER_ID=admin
      - OVL_USER_PASSWORD=password

      # Optional TLS settings:
      # - OVL_PROTOCOL=https
      # - OVL_PORT=8443

    ports:
      - "4880:4880"
      - "8443:8443"

    hostname: ogamma-logger

    volumes:
      - ovl-data:/home/ogamma/logger/data

    networks:
      ogamma-logger: {}

  # ---------------------------------------------------------------------------
  # High Availability Node Manager
  # ---------------------------------------------------------------------------
  ha-node:
    image: "docker.io/ogamma/ha-node:2.0.0"
    restart: always

    environment:
      # Unique ID for the HA cluster.
      - HA_CLUSTER_ID=ha-cluster

      # Each node must have a unique node ID.
      - HA_NODE_ID=ha-node-2

      # Node with highest priority becomes Active when both nodes are healthy.
      - HA_PRIORITY=90

      # Update if protocol/port changes.
      - HA_HEALTH_CHECK_URL=http://ogamma-logger:4880/health
      - HA_HEALTH_CHECK_ENABLED=ON

      # Heartbeat database connection settings:
      - HA_DB_HOSTNAME=192.168.1.79
      - HA_DB_PORT=5432
      - HA_DB_USER=ogamma
      - HA_DB_PWD=ogamma
      - HA_DB_NAME=ovlha
      - HA_DB_TABLE_NAME=nodes

      # Settings affecting failover:
      - HA_HEARTBEAT_INTERVAL=1000
      - HA_HEARTBEAT_TIMEOUT=3000
      - HA_HEALTH_CHECK_INTERVAL = 500
      - HA_HEALTH_CHECK_TIMEOUT=500
      - HA_MAX_HEALTH_CHECK_FAILURES=2
      
    hostname: ha-node

    volumes:
      # Shared volume for HA IPC files (./data/ha-ipc).
      - ovl-data:/var/lib/ha-node/data:rw

    networks:
      ogamma-logger: {}

# ---------------------------------------------------------------------------
# Network Definitions
# ---------------------------------------------------------------------------
networks:
  ogamma-logger:
    driver: bridge

# ---------------------------------------------------------------------------
# Volumes
# ---------------------------------------------------------------------------
volumes:
  ovl-data: {}
