services:
  ogamma-logger:
    image: 'ogamma/logger:4.2.0'
    restart: always
    
    environment:    
# By default configuration file ./data/config.json is used. Can be changed by environment variable:    
      - OVL_CONFIG_FILE=./data/config.json
# Do not use default credentials in production!
      - OVL_USER_ID=admin
      - OVL_USER_PASSWORD=password
      - OVL_PYTHON_START_DEBUGGER=ON
      - OVL_PYTHON_DEBUG_PORT=5678
      - OVL_PYTHON_WAIT_FOR_CLIENT=OFF
      # Value 0.0.0.0 means listen on all network interfaces, with any IP address. Note: must have no quotes!
      - OVL_PYTHON_DEBUG_HOST=0.0.0.0
      
    #network_mode: "host"  # Use host's network namespace
    #cap_add:
    #  - NET_ADMIN
    #  - NET_BROADCAST
    #  - NET_RAW
      
    ports:
      # 4880 is GUI endpoint port:
      - '4880:4880'
      # 5678 is Python debug server port, set by environment variable OVL_PYTHON_DEBUG_PORT
      # - '5678:5678'
    hostname: ogamma-logger
    volumes:
      - './data:/home/ogamma/logger/data'
    # Temporarily override the user and command to run at container start-up, to change owner of the work directory to user "ogamma" of the group "ogamma":
    #user: root
    #entrypoint: >
    #  sh -c "
    #    chown -R ogamma:ogamma /home/ogamma/logger && 
    #    tail -f /dev/null
    #  "
    networks:
      - ogamma-logger
 
networks:
  ogamma-logger: {}
    #driver: bridge

