# Docker Compose Example for inductiveautomation/ignition
# Compose Spec: https://github.com/compose-spec/compose-spec/blob/master/spec.md
---
services:
  # Ignition Gateway
  gateway:
    image: inductiveautomation/ignition:latest
    ports:
      - 9088:8088
      - 9043:8043
      - 62541:62541
    hostname: gateway
#    volumes:
#      - gw-data:/usr/local/bin/ignition/data
    # env_file: ignition.env  # optionally specify variables in a file, or using `environment:` below
#    environment:
#      - ACCEPT_IGNITION_EULA=Y
#      - GATEWAY_ADMIN_USERNAME=admin
#      - GATEWAY_ADMIN_PASSWORD_FILE=/run/secrets/gateway-admin-password
#      - IGNITION_EDITION=standard
#      - TZ=America/Chicago  # see https://en.wikipedia.org/wiki/List_of_tz_database_time_zones#List
    environment:
        GATEWAY_ADMIN_USERNAME: "admin"
        GATEWAY_ADMIN_PASSWORD: "password"
    volumes:
        - 'ignition-config:/usr/local/bin/ignition'
        - 'ignition-data:/var/lib/ignition/data'      
    secrets:
      - gateway-admin-password
    command: >
      -n docker-test
      -m 1024
      --
      wrapper.java.initmemory=512
      -Dignition.allowunsignedmodules=true
    networks:
      - ogamma-logger
      
secrets:
  gateway-admin-password:
    file: secrets/GATEWAY_ADMIN_PASSWORD
 
volumes:
  ignition-data: {}
  ignition-config: {}
  
networks:
  ogamma-logger: null  
  
  
#  ignition:
#    image: inductiveautomation/ignition:8.1
#    ports:
#        - '8088:8088'
#    environment:
#        GATEWAY_ADMIN_USERNAME: "admin"
#        GATEWAY_ADMIN_PASSWORD: "password"
#    volumes:
#        - 'ignition-config:/usr/local/bin/ignition'
#        - 'ignition-data:/var/lib/ignition/data'
#    networks:
#        - obox  