version: '3'
services:
# Demo OPC UA Server
  opcplc:
    image: 'mcr.microsoft.com/iotedge/opc-plc:latest'
    hostname: opcplc
    ports:
      - '50000:50000'
#Host port: container port.
      
    command: '--autoaccept'
    networks:
      - ogamma-logger
    volumes:
      - './data/opcplc/pki:/app/pki'

networks:
  ogamma-logger: null

